body {
    margin: 0 0;
}

.app-wrapper {

    display: flex;
    justify-content: center;
}

.app-wrapper-content {

}

input {
    display: block;
    border: none;
    border-bottom: 2px solid #7FB099;
    padding: 25px 5px;
    font-size: 1.25rem;
    background-color: #374D5A;
    outline: none;
    color: white;
}

input[type=submit] {
    border: none;
    background-color: #7FB099;
    padding: 10px 50px;
    cursor: pointer;
    margin: 40px auto;
    border-radius: 5px;
    outline: none;
    color: white;
}

button {
    background-color: #7FB099;
    outline: none;
    height: 50px;
    color: white;
    font-size: 1rem;
    cursor: pointer;

}

a {
    color: white;
    display: block;
    font-size: 1rem;
    text-decoration: none;
}
